* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.App {
  height: 100vw;
  width: 100vw;
  border: solid 3px red;
}

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
}

.Body {
  height: 100vh;
  border: 3px solid yellow;
}
