.Navbar {
  color: #F2E718;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Logo {
  position: relative;
  width: 40vw;
  margin: 1vh 0;
}

.Navlinks {
  display: flex;
  position: relative;
  gap: 20px;
}

 .NavLink {
  font-size: 35px;
  color: #F2E718;
}

.NavLink:hover {
  color: #F9F59F;
}

@media only screen and (max-width: 1024px) {
  .NavLink {
    font-size: 20px;
    color: #F2E718;
  }
}

@media only screen and (max-width: 1024px) {
  .Logo {
    width: 200px;
  }
}