.AnotherAlbum {
  display: flex;
  justify-content: center;
  margin-left: 30vw;
}

.AlbumOptions {
  display: flex;
  position: relative;
  height: 50%;
  flex-direction: column;
  margin-right: 2vw;
  top: 1vh;
  border: 2px solid gold;
}

.AADisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.AAButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2e718;
  background-color: #1f1f1f;
  width: 25vw;
  height: 10vh;
  font-size: 50px;
  border: 1px solid #f2e718;
}

.AAButton:focus {
  outline-color: #f9f59f;
}

.AAButton:hover {
  color: #f9f59f;
  border: 1px solid #f9f59f;
}

.AlbumSpinner {
  height: 600px;
  width: 600px;
}

.AlbumDetails {
  font-size: 15px;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  color: #f2e718;
  margin-left: 2vw;
  top: 1vh;
  min-width: 20%;
}

.detailsHeader:hover {
  color: #f9f59f;
}

.artistDetails:hover {
  color: #f9f59f;
}

.albumDetails:hover {
  color: #f9f59f;
}
